body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2a2d37;
}

.main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 3em auto 0 auto;
}

@media (min-width: 640px) {
    .main {
        max-width: none;
    }
}

nav {
    width: 100%;
    background-color: #4e57ba;
}

nav a {
    color: #2a2d37;
    padding: 1em;
    display: inline-block;
}

a.active,
h1,
h2 {
    color: #da99da;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #4e57ba;
    font-weight: bold;
}

p {
    max-width: 768px;
    margin: 0 auto;
    color: white;
    padding: 1em;
}

label {
    color: #fff;
}

input, select {
    margin: 0.5em 0;
    font-size: 18px;
    height: 3em;
    width: 80%;
    min-width: 10em;
    max-width: 30em;
}

button {
    margin: 0.5em 0;
    height: 4em;
    min-width: 10em;
}